{% extends "base.html" %}
{% block content %}
    <h1>トレンド</h1>
    <div id="calendar"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/calendar.js"></script>
    <script type="text/javascript" src="/static/js/language/ja-JP.js"></script>
    <script type="text/javascript">
        var calendar = $("#calendar").calendar(
            {
                view: 'month',
                tmpl_path: "/static/tmpls/",
                tmpl_cache: false,
                language: 'ja-JP',
                day: "now",
                events_source: 'api/trends/',
            });
        console.log(calendar);
    </script>
{% endblock %}